.bg-image {
	position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
	width: 100%;
}

.mask {
	background-color: rgba(0, 0, 0, 0.6);

	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    background-attachment: fixed;
}

.title-div {
	padding: 10rem 5rem;
	font-size: 3rem;
}

.title {
	display: flex;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    height: 100%;

    text-transform: uppercase;
    font-family: Inter, serif !important;
    color: var(--card-background);
	text-align: right;
}

.home-btn {
	background: var(--card-background) !important;
    font-family: Inter, serif !important;
}

.background, .mask, .test {
	height: calc(100vh - 65px) !important;
}

@media screen and (max-width: 600px) {
	.title-div {
		padding: 12rem 1rem !important;
		font-size: 2rem !important;
	}
}