.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 256px);
    grid-gap: 32px;
    max-width: 100%;
}

.card-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    border-radius: 0px 0px 4px 4px;

    width: 256px;
}

.card-list img {
    width: 256px;
    height: 300px;
}

.card-list h3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    color: var(--text-dark-2);
    margin-bottom: .5rem;
}

.card-list p {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: var(--shapes-dark);
    margin: 1rem 0;
}

.card-list div {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 10px 15px 0 15px;
    width: 100%;
}

.filter {
    background: var(--background-color) !important;
}